[Unit]
Description=SunFounder Car IP Address

[Service]
ExecStart=/usr/bin/python /home/pi/Sunfounder_Smart_Video_Car_Kit_for_RaspberryPi/html_server/ip.py  
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
